.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.info__container {
  width: 150px;
}

.info__flag .img {
  width: 100%;
  border-radius: 5px;
}

.info__flag {
  height: 80px;
  width: 100%;
  background-size: contain;
  border-radius: 8px;
  margin-bottom: 5px;
}

.info__country {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.info__confirmed {
  font-weight: bold;
}

.info__recovered {
  font-weight: bold;
}

.info__deaths {
  font-weight: bold;
}
